
@import './param.scss';
@import './rewriteElement.scss';
@import './box.scss';


*{
    // background-color:red;
    box-sizing: border-box;
   
}



// 所有的a标签去掉下划线
// 颜色改变为主题色
a{
    text-decoration: none;
    color: $theamColor;
}

html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


//-------------------------------------常用css-------------------------------------

// 超出一行自动换行
.ymoreTitle1{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp:1;
 
}


//超出两行自动换行
.ymoreTitle2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp:2;
}

//超出两行自动换行
.ymoreTitle3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp:3;
}



// 主题色
.ytheamColor{
    color:$theamColor;
}

//鼠标变成小手
.ymouse{
    cursor: pointer;
}


//消除滚动条
.y-no-scrollBar{
     &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
     }
     scrollbar-width: none; /* Firefox */
     -ms-overflow-style: none; /* IE 10+ */
     
}

.yradius{
    border-radius: 10px;
}



//每一个子路由的box
.ybox{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    padding-bottom:70px;
 }




// 应用商店图片上面的装填标记
// 父元素一定要加上relative
 .ymark{
    position: absolute;
    width:75%;
    height:75%;
    top: -50%;
    left:-50%;
    box-sizing: border-box;
    // background-color:black;
    transform: rotate(-45deg);
    // color: white;
    font-size: 13px;

    display: flex;
    align-items:flex-end;
    padding: 3px;
    justify-content: center;
}

.ymark1{
    background-color: #17D945;
    color: #fff;
}

.ymark2{
    background-color: #237BE8;
    color: white;
}

.ymark3{
    background-color: orange;
    color: white;
}

.ybread{
    margin: 10px 0px 20px;
}



