// 主题色
$theamColor:#237BE8;
//管理后台最上面的header的高度
$headerHeight:60px;
//下划线的颜色
$underlineColor:#D1D1D1;
    .underlineColor{
        color: $underlineColor;
    }

// 常用颜色
$color1:#333333;
$color2:#999999;
$bgColor:#DEDEDE;





